{% extends "layouts/uac.html.twig" %}


{% block content %}

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <a class="navbar-brand" href="{{ path_for("dashboard.index") }}">Gbowo</a>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#">Gbowo</a>
            </li>
            <li>
                <a href="#">Link</a>
            </li>
        </ul>
    </nav>

    <div class="col-md-3">

    </div>

    <div class="col-md-6">

        <div style="margin-top: 120px">

            {% if classic %}
                <div class="alert alert-warning">
                	<button type="button" class="close" data-dismiss="alert"
                            aria-hidden="true">&times;</button>
                	<strong>Whoops</strong>
                    <p>
                        {{ classic }}
                    </p>
                </div>
            {% endif %}

            <form action="" method="post" role="form">
                <legend>Login to the Swag store</legend>

                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" class="form-control" name="mail" placeholder="john.doe@gmail.com">
                    {% if errors.mail %}
                        <p>{{ errors.mail | first }}</p>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="pass" autocomplete="off">
                    {% if errors.pass %}
                        <p>{{ errors.pass | first }}</p>
                    {% endif %}
                </div>

                {{ csrf_fields | raw }}

                <div class="text-center">
                    <button type="submit" name="login" class="btn btn-success">Login</button>

                    <p>Don't have an account yet ? Click
                        <a href="{{ path_for("app.register") }}" style="color : blue">here to signup</a></p>
                </div>

            </form>

        </div>

    </div>

    <div class="col-md-3">

    </div>

{% endblock %}