{% extends "layouts/dashboard.html.twig" %}

{% block content %}

    <div class="row">

        <div class="col-md-6">
            <p>Pay with Paystack</p>
            <form method="POST" action="{{ path_for("app.charge.adapter", {'adapter' : 'paystack'}) }}">
                <input type="hidden" name="_amount" value="{{ amount }}">
                {{ csrf_field | raw }}
                <button type="submit" class="btn btn-lg btn-info">Pay now</button>
            </form>
        </div>

        <div class="col-md-6">
            <p>Pay with Amplifypay</p>
            <form method="POST" action="{{ path_for("app.charge.adapter", {'adapter' : 'amplifypay'}) }}">
                <input type="hidden" name="_amount" value="{{ amount }}">
                {{ csrf_field | raw }}
                <button type="submit" class="btn btn-lg btn-info">Pay now</button>
            </form>
        </div>

    </div>

{% endblock %}