{% extends "layouts/dashboard.html.twig" %}

{% block content %}

    <div class="row">

        <div class="col-md-4">
            <img src="/public/uploads/{{ product.image }}" class="img-responsive" alt="{{ product.name }}">
        </div>

        <div class="col-md-8">
            <p class="lead">
                {{ product.description }}
            </p>
            <p>
                Funkatron's image costs {{ product.price | number_format }} Naira only.
            </p>

            <div class="text-center">
                <a class="btn btn-lg btn-info" href="{{ path_for("app.charge", {'productname' : product.moniker}) }}">Buy Image</a>
            </div>
        </div>
    </div>
{% endblock %}